body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo {
  font-family: Rubik, sans-serif;
  font-size: 15pt;
  margin-top: 50px;
  margin-left: 50px;
  text-decoration: none;
  display: block;;
  color: black;
}

.violet {
  color: #be14e0;
}

.centresearch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.sidesearch {
  margin: 50px
}

.imgbg {
  width: 210px;
  height: 190px;
  background-size: cover;
  border: 1px solid gray;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.modal {
  background-color: #0600ff;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal.notvisible {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.modal.visible {
  opacity: 0.65;
  transition: opacity 0.3s;
}

.lightbox {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: auto;
  height: calc(100% - 100px);
  z-index: 1;
  left: 50%;
  top: 50%;
  animation-name: down50;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  text-align: right;
  padding-top: 20px;
  border-radius: 4px;
}

@keyframes down50 {
  from {transform: translate(-50%, calc(-50% - 50px))}
  to {transform: translate(-50%, -50%)}
}

.lightbox .material-icons {
  display: block;
  font-size: 60px;
  font-weight: 100;
  margin-right: 10px;
}

.lightbox span {
  cursor: pointer;
}

img.full {
  box-sizing: border-box;
  display: block;
  background-color: white;
  width: auto;
  height: calc(100% - 60px);
  padding: 20px 60px 60px 60px;
}